@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Lato", sans-serif;
}

.greeting {
  background-image: url(/img/header_bg.webp);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.greeting__menu {
  position: absolute;
  width: 40vw;
  min-width: 640px;
  text-align: center;
  left: 50%;
  transform: translate(-50%);
  margin-top: 35px;
}
.greeting__items {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 10px;
  letter-spacing: 2.6px;
  align-items: center;
}
.greeting__item {
  color: #4d4959;
}
.greeting__item-logo {
  width: 94px;
  height: 85px;
}

.about {
  display: flex;
  width: 100%;
  max-height: 470px;
  background-color: #f7f7f7;
  flex-direction: column;
  padding: 85px 0;
  overflow: hidden;
}
.about__icon {
  margin: 30px auto;
  justify-content: center;
}
.about__title {
  font-size: 18px;
  font-weight: bold;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  text-align: center;
  color: #353738;
  padding-bottom: 35px;
}
.about__text {
  padding: 0 16.25% 55px;
  font-size: 18px;
  line-height: 1.89;
  letter-spacing: normal;
  text-align: center;
  color: #848789;
}

/* Подчёркивание-------------::after {
		content: "";
		position: relative;
		left: 50%;
		margin: 40px 0 0 -25px;
		width: 50px;
		height: 1px;
		background-color: #353738;
		display: block;
	}*/
.product {
  width: 100%;
  display: flex;
  position: relative;
}
.product__main-image {
  flex: 1 1 66.666%;
  position: relative;
  flex-direction: column;
}
.product__main-image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(/img/oliva_watermark.webp) center no-repeat;
}
.product__main-image-3 {
  position: relative;
  flex: 1 1 33.333%;
  position: relative;
  flex-direction: column;
}
.product__main-image-3::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(/img/retro_watermark.webp) center no-repeat;
}
.product__img--big {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product__img--middle {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product__about {
  display: flex;
  flex-direction: column;
  flex: 1 1 33.333%;
  position: relative;
  overflow: hidden;
}
.product__description {
  flex: 1 0 auto;
  position: relative;
  padding: 40px;
}
.product__description::after {
  content: "";
  border: 10px solid transparent;
  border-top: 10px solid #ffffff;
  border-bottom: none;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%);
}
.product__description .product__icon {
  text-align: center;
  padding: 30px;
}
.product__text {
  text-align: center;
}
.product__title {
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #353738;
}
.product__subtitle {
  text-align: justify;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #848789;
}
.product__subtitle::after {
  content: "";
  position: relative;
  left: 50%;
  margin: 40px 0 20px -25px;
  width: 50px;
  height: 1px;
  background-color: rgba(53, 55, 56, 0.2);
  display: block;
}
.product__image {
  flex: 0 0 auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.tweets__icon {
  margin: 0 auto;
  text-align: center;
  padding: 36px 0 18px;
}
.tweets__autor {
  text-align: center;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #353738;
}
.tweets__time {
  font-weight: 300;
  color: #848789;
}
.tweets__text {
  width: 100%;
  min-height: 135px;
  text-align: center;
  padding: 0 2.8%;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  font-style: italic;
  color: #848789;
}

.gallery {
  position: relative;
  display: grid;
  grid-template: 1fr 1fr/repeat(6, 1fr);
  grid-template-areas: "img1 img2 img4 img5 img6 img6" "img3 img3 img4 img5 img7 img8";
}
.gallery__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery__image ::after {
  content: "";
  display: contents;
  position: absolute;
  width: 100%;
  right: 200px;
  height: 100%;
  background: url(/img/gallery/shop_now.webp) center no-repeat;
}
.gallery__item-1 {
  grid-area: img1;
}
.gallery__item-2 {
  grid-area: img2;
}
.gallery__item-3 {
  grid-area: img3;
}
.gallery__item-4 {
  grid-area: img4;
}
.gallery__item-5 {
  grid-area: img5;
}
.gallery__item-6 {
  grid-area: img6;
}
.gallery__item-7 {
  grid-area: img7;
}
.gallery__item-8 {
  grid-area: img8;
}

.to-shop {
  border: 1px solid rgba(255, 255, 255, 0);
  margin: 0 auto;
  width: 100%;
  height: 200px;
  text-align: center;
  background-color: #282f35;
}
.to-shop__button {
  margin: 75px auto;
  width: 300px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.49);
  background-color: rgba(255, 255, 255, 0);
}

.btnToShop {
  line-height: 50px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
}

.contact {
  background-color: #ffffff;
  padding: 105px 0 110px;
  text-align: center;
}
.contact__icon {
  text-align: center;
  margin: 0 auto 40px;
}
.contact__text {
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  font-style: italic;
  color: #848789;
  margin-bottom: 35px;
}
.contact__area {
  width: 400px;
  height: 70px;
  border: 1px solid #d3d7d9;
  padding: 0 30px 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: italic;
  color: #929292;
}
.contact__btn {
  width: 125px;
  height: 70px;
  background-color: #64c29e;
  margin: 0 8px 0;
  font-size: 24px;
  line-height: 24px;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  color: #ffffff;
  cursor: pointer;
}
.contact__btn:hover {
  background-color: #c7c7c7;
  color: #64c29e;
}

.footer {
  background-color: #f7f7f7;
  height: 250px;
  position: relative;
  display: grid;
  grid-template: 1fr/repeat(3, 1fr);
}

.contacts {
  color: #848789;
  padding-left: 15.6vw;
  margin: auto 0;
  line-height: 1.29;
}
.contacts__company {
  font-size: 16px;
  font-weight: 700;
}
.contacts__addres {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
}
.contacts__email {
  display: inline-block;
  color: #848789;
  font-style: italic;
  font-size: 14px;
  font-weight: 400;
}

.links {
  text-align: center;
  margin: auto 0;
}
.links__link {
  padding-right: 15px;
}

.copy {
  text-align: right;
  padding-right: 15.6vw;
  margin: auto 0;
}
.copy__text {
  display: inline-block;
  padding: 9px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: italic;
  color: #848789;
}
.copy__img {
  display: inline-block;
}

@media screen and (max-width: 1023px) {
  .gallery {
    grid-template: 1fr 1fr 1fr/repeat(4, 1fr);
    grid-template-areas: "img1 img2 img4 img5 " "img3 img3 img4 img5 " "img6 img6 img7 img8";
  }
  .product {
    display: block;
  }
}
@media screen and (max-width: 788px) {
  .gallery {
    grid-template: repeat(6, 1fr)/repeat(2, 1fr);
    grid-template-areas: "img1 img2 img4 img5 " "img3 img3 img4 img5 " "img6 img6 img7 img8";
  }
}